.container-fluid {
  background: #E5E5E5;
  margin-top: -50px;
}

.tabLogo {
  height: 45px;
  margin-right: 10px;
}

.tabHeader {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.cursorPointer {
  cursor: pointer;
}

.btn-success {
  margin-top: 160px;
  background-color: #39E058;
  border-color: #39E058;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 30px;
  padding: 13px 30px 13px 30px;
}

#territoryWiseReport {
  padding-left: 160px;
  padding-right: 160px;
}
