#numberCount {
  background-color: #FFFFFF;
}

#numberCount {
  background-color: #FFFFFF;
}

.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-default {
  background-color: #4491FF;
  color: #FFFFFF;
}

.selectorLabel {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.form-control {
  background-color: #E8F6FE;
}

.input-group-text {
  background-color: #E8F6FE;
}

.fa-calendar {
  color: #4491FF;
}
