#numberCount {
  background-color: #FFFFFF;
}

#numberCount {
  background-color: #FFFFFF;
}

.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-default {
  background-color: #4491FF;
  color: #FFFFFF;
}

.selectorLabel {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.form-control {
  background-color: #E8F6FE;
}

.input-group-text {
  background-color: #E8F6FE;
}

.fa-calendar {
  color: #4491FF;
}

::ng-deep .ng-select .ng-select-container {
  background-color: #E8F6FE;
}

.countBar {
  background-color: #E8EFFD;
}

.countNumber {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #4491FF;
}

.headerText {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.bootstrap-datetimepicker-widget {
  list-style: none;
  background-color: #fff; /* This is your background color. Copy and Paste this row. */
}

input[type="checkbox"] {
  filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%);
}
