.countBar {
  background-color: #E8EFFD;
}

.countNumber {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #4491FF;
}

.headerText {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.countLogo {
  height: 50px;
}
